body {
    background-color: bisque;
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 50px;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 10px;
}

img {
    border-radius: 10px;
}